body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #2e2f42;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block
}

.container {
    min-width: 320px;
    margin: 0 auto;
    padding: 0 16px
}

@media screen and (min-width:768px) {
    .container {
        min-width: 768px;
        margin-left: 156px;
        margin-right: 156px;
        margin: 0 auto;
        padding: 0 16px
    }
}

@media screen and (min-width:1440px) {
    .container {
        min-width: 1440px;
        margin: 0 auto;
        padding: 0 156px;
    }
}

/* Start Header */

.container-header {
    display: block;
    padding: 16px 16px;
}

@media screen and (min-width:768px) {
    .container-header {
        padding: 0px 16px;
    }
}

@media screen and (min-width:1440px) {
    .container-header {
        padding: 0px 156px;
    }
}

@media screen and (min-width:768px) {
    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width:1440px) {
    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-right: 76px;
}

.butger_menu_btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: none;
    display: block;

}

@media screen and (min-width:768px) {
    .butger_menu_btn {
        display: none;
    }
}

@media screen and (min-width:1440px) {
    .butger_menu_btn {
        display: none;
    }
}

.header-menu-list {
    display: none;
    gap: 40px;
}

@media screen and (min-width:768px) {
    .header-menu-list {
        display: flex;
        gap: 40px;
    }
}

@media screen and (min-width:1440px) {
    .header-menu-list {
        display: flex;
        gap: 40px;
    }
}

.header-info-item {
    display: flex;
}

@media screen and (min-width:768px) {
    .header-info-items {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:1440px) {
    .header-contacts {
        display: flex;
    }
}

.header-menu-list-item {
    gap: 40px;

}

.header-contacts {
    display: none;
}

@media screen and (min-width:768px) {
    .header-contacts {
        display: flex;
    }
}

@media screen and (min-width:1440px) {
    .header-contacts {
        display: flex;
    }
}


.header-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-name {
    color: #2e2f42;
}

.header-menu-link {
    display: block;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}

.header-contact-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .header-contact-link {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0;
    }
}

@media screen and (min-width:768px) {
    .header-contact-link {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.header-menu-link:hover,
.header-contact-link:hover {
    color: #404BBF;
}

.header-menu-link:focus,
.header-contact-link:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

.header-info-items {
    display: flex;
    gap: 40px;
}

@media screen and (min-width:768px) {
    .header-info-items {
        display: flex;
        gap: 12px;
    }
}

@media screen and (min-width:1440px) {
    .header-info-items {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}

/* End Header */
/* Start Banner */

.container-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    background-color: #2e2f42;
    padding: 72px 0;
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Baner-bg-mobile.png);
    max-width: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-width:768px) {
    .banner {
        background-color: #2e2f42;
        padding: 112px 0;
        text-align: center;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Baner-bg-tablet.png);
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (min-width:1440px) {
    .banner {
        background-color: #2e2f42;
        padding: 188px 0;
        text-align: center;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Baner-bg-tablet.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
}

.banner-title {
    font-size: 36px;
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    align-items: center;
    margin-bottom: 72px;
    margin-left: 36px;
    margin-right: 36px;
}

@media screen and (min-width:768px) {
    .banner-title {
        font-size: 56px;
        line-height: 1.07;
        color: #ffffff;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
        align-items: center;
        margin-bottom: 36px;
        margin-left: 120px;
        margin-right: 120px;
    }
}

@media screen and (min-width:1440px) {
    .banner-title {
        font-size: 56px;
        line-height: 1.07;
        color: #ffffff;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
        align-items: center;
        margin-bottom: 48px;
    }
}

.banner-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-btn:hover {
    background-color: #404BBF;
    cursor: pointer;
}

.banner-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* End Banner */
/* Start Description */

.description {
    padding: 96px 0;
}

@media screen and (min-width:768px) {
    .description {
        padding: 96px 0;
    }
}

@media screen and (min-width:1440px) {
    .description {
        padding: 120px 0;
    }
}

.container-description {}

@media screen and (min-width:768px) {
    .container-description {
        max-width: 768px;
    }
}

@media screen and (min-width:1440px) {
    .container-description {
        max-width: 1440px;
    }
}

.description-item-icon-box {
    display: none;
}

@media screen and (min-width:768px) {
    .description-item-icon-box {
        display: none;
    }
}

@media screen and (min-width:1440px) {
    .description-item-icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
}

.description-title {
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description-items {
    display: block;
    flex-direction: column;
    column-count: 1;
}

@media screen and (min-width:768px) {
    .description-items {
        display: block;
        flex-direction: column;
        column-count: 2;
        column-gap: 24px;
    }
}

@media screen and (min-width:1440px) {
    .description-items {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}

.description-item {
    width: 100%;
}

@media screen and (min-width:768px) {
    .description-item {
        margin-bottom: 72px;
    }
}

@media screen and (min-width:1440px) {
    .description-item {
        width: calc((100% - 72px) / 4);
    }
}

.description-item+.description-item {
    margin-top: 72px;
}

@media screen and (min-width:768px) {
    .description-item+.description-item {
        margin-top: 0px;
    }
}

@media screen and (min-width:1440px) {
    .description-item+.description-item {
        margin-top: 0px;
    }
}


.description-item-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .description-item-title {
        font-size: 36px;
        font-weight: 500;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: start;
    }
}

@media screen and (min-width:1440px) {
    .description-item-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: start;
    }
}

.description-item-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

/* End Description */
/* Start Team */

.container-team {
    margin: 0 28px;

}

@media screen and (min-width:768px) {
    .container-team {
        max-width: 768px;
    }
}

@media screen and (min-width:1440px) {
    .container-team {
        max-width: 768px;
    }
}

.team {
    background-color: #F4F4FD;
    padding: 96px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {
    .team {
        background-color: #F4F4FD;
        padding: 96px 0;
    }
}

@media screen and (min-width:1440px) {
    .team {
        background-color: #F4F4FD;
        padding: 120px 0;
    }
}

.team-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    column-count: 1;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .team-list {
        display: block;
        flex-direction: column;
        column-count: 2;
        column-gap: 208px;
    }
}

@media screen and (min-width:1440px) {
    .team-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}

.team-info {
    padding: 32px 0;
}

.team-box {
    background-color: #fff;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.team-box+.team-box {
    margin-top: 72px;
}

@media screen and (min-width:768px) {
    .team-box+.team-box {
        margin-top: 72px;
    }
}

@media screen and (min-width:1440px) {
    .team-box+.team-box {
        margin-top: 0;
    }
}

.team-name {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-position {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item-link:hover {
    background-color: #404bbf;
}

.team-social-item-link:focus {
    background-color: #404bbf;
}

.icon-instagram {
    fill: #f4f4fd;
}

/* End Team */
/* Start Portfolio */

.container-portfolio {
    margin: 0 28px;
}

@media screen and (min-width:768px) {
    .container-portfoliom {
        max-width: 768px;
    }
}

@media screen and (min-width:1440px) {
    .container-portfolio {
        max-width: 1440px;

    }
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-box {
    display: flex;
    flex-direction: column;
    column-count: 1;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {
    .portfolio-box {
        display: block;
        flex-direction: column;
        column-count: 2;
        column-gap: 24px;
    }
}

@media screen and (min-width:1440px) {
    .portfolio-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        justify-content: space-between;
    }
}

.portfolio-item {
    width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-item+.portfolio-item {
    margin-top: 48px;
}

@media screen and (min-width:768px) {
    .portfolio-item+.portfolio-item {
        margin-top: 72px;
    }
}

@media screen and (min-width:1440px) {
    .portfolio-item+.portfolio-item {
        margin-top: 0;
    }
}


@media screen and (min-width:768px) {
    .portfolio-item {
        width: 360px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width:1440px) {
    .portfolio-item {
        width: 360px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.portfolio-item-image-overflow {
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-item:hover .portfolio-item-image-overflow-text {
    transform: translateY(0%);

}

.portfolio-item-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.portfolio-item-text {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}



.portfolio-item-image-overflow-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* End Portfolio */
/* Start Footer */

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    line-height: 24px;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px
}

@media screen and (min-width:768px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-count: 2;
        margin: 0 auto;
        padding: 0 108px;

    }
}

@media screen and (min-width:1440px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        width: 1158px;
        margin-left: 156px;
        margin-right: 156px;
        margin: 0 auto;
        padding: 0 15px
    }
}

.footer-info-box {
    margin-right: 0px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (min-width:768px) {
    .footer-info-box {
        margin: 0 auto 0px;
    }
}

@media screen and (min-width:1440px) {
    .footer-info-box {
        width: 264px;
        margin-right: 120px;
    }
}

.footer-social-box {
    margin-right: 0px;
    margin-bottom: 72px;
}

@media screen and (min-width:768px) {
    .footer-social-box {
        margin: 0 auto;

    }
}

@media screen and (min-width:1440px) {
    .footer-social-box {
        margin-right: 80px;
    }
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .footer-social-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align: start;
    }
}

@media screen and (min-width:1440px) {
    .footer-social-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
    }
}



.footer-social-list {
    display: flex;
    gap: 16px;
}

@media screen and (min-width:768px) {
    .footer-social-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 26px;
    }
}

@media screen and (min-width:1440px) {
    .footer-social-list {
        display: flex;
        gap: 16px;
    }
}

.footer-social-list-item {
    width: 40px;
    height: 40px;

}

.footer-social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover {
    background-color: #31d0aa;
}

.footer-social-list-link:focus {
    background-color: #31d0aa;
}

.footer-logo {
    align-items: center;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

@media screen and (min-width:768px) {
    .footer-logo {
        font-family: "Raleway", sans-serif;
        color: #4d5ae5;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
        display: inline-block;
    }
}

@media screen and (min-width:1440px) {
    .footer-logo {
        font-family: "Raleway", sans-serif;
        color: #4d5ae5;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
        display: inline-block;
    }
}

.footer-logo-name {
    color: #f4f4fd;
}

.footer-info {
    letter-spacing: 0.02em;
    max-width: 100%;

}

@media screen and (min-width:768px) {
    .footer-info {
        letter-spacing: 0.02em;
        max-width: 264px
    }
}

@media screen and (min-width:1440px) {
    .footer-info {
        letter-spacing: 0.02em;
        max-width: 264px
    }
}

.footer-form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width:768px) {
    .footer-form-label {

        margin-bottom: 0px;

    }
}

@media screen and (min-width:1440px) {
    .footer-form-label {}
}


.footer-btn {
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    height: 40px;
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer
}

.icon-btn {
    margin-left: 16px;
    fill: #f4f4fd;
}

.footer-form-box {
    width: 100%;
}

@media screen and (min-width:1440px) {
    .footer-form-box {
        width: 453px;
    }
}

.footer-input-email {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    min-width: 268px;
    width: 100%;
    height: 40px;
    padding-left: 16px;
    color: white;
    margin-right: 0px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width:768px) {
    .footer-input-email {
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 4px;
        color: #fff;
        width: 264px;
        height: 40px;
        padding-left: 16px;
        color: white;
        margin-right: 24px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (min-width:1440px) {
    .footer-input-email {
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 4px;
        color: #fff;
        width: 264px;
        height: 40px;
        padding-left: 16px;
        color: white;
        margin-right: 24px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.footer-email-input::placeholder {
    color: #fff;
}

.footer-form-text {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

@media screen and (min-width:768px) {
    .footer-form-text {
        margin-top: 72px;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
    }
}

@media screen and (min-width:1440px) {
    .footer-form-text {
        text-align: start;
        margin-top: 0px;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
    }
}


.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

@media screen and (min-width:768px) {
    .footer-form {
        display: flex;
        gap: 24px;
        display: flex;
        flex-direction: row;
        justify-content: c;
    }
}

@media screen and (min-width:1440px) {
    .footer-form {
        display: flex;
        gap: 24px;
        flex-direction: row;
    }
}

/* End Footer */

/* Start Modal */

.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

@media screen and (min-width:768px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 408px;
        min-height: 584px;
        background: #fcfcfc;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
    border: none;
    background-color: #404bbf;
    fill: #fff;
}

.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form-box {
    margin-bottom: 8px;
}

.form-label-title {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}

.modal-form-input {
    position: relative;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+svg {
    fill: #4D5AE5;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal:focus {
    fill: #4D5AE5;
}


.modal-form-comment {
    margin-bottom: 16px
}

.modal-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-form-privacy {
    margin-bottom: 24px;
}

.user-privacy-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.user-privacy-box {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.user-privacy-link {
    color: #4d5ae5;
}

.user-privacy:checked+.user-privacy-text .user-privacy-box {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.user-privacy:checked+.user-privacy-text .user-privacy-box svg {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-send-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}

/* End Modal */


/* Adaptive Start */





/* Adaptive End */